
<!--衣服道具-->
<div class="row">
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/P0.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">男士四角内裤<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('P0')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">男士四角内裤<i
                        class="material-icons right">close</i></span>
                <p>啊？那可不是什么女性服装。不过好吧</p>
                <p>5￥，alpha&gt;-6</p>
                <p>-4性具长度，-1性具直径</p>
                <p>BUFF代码P0</p>
                <a href="#" onclick="itemadd('P0')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/S0.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">短袜<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('S0')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">短袜<i
                        class="material-icons right">close</i></span>
                <p>嘿，我喜欢那双印着Hello kitty的！</p>
                <p>5￥</p>
                <p>根据穿着方式slut+0～3</p>
                <p>BUFF代码S0</p>
                <a href="#" onclick="itemadd('S0')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/D0.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">裤子<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('D0')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">裤子<i
                        class="material-icons right">close</i></span>
                <p>唉，这可真是个让人不愉快的惊喜。</p>
                <p>25￥,alpha&gt;-8</p>
                <p>alpha+3</p>
                <p>BUFF代码D0</p>
                <a href="#" onclick="itemadd('D0')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/U0.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">男士衬衫<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('U0')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">男士衬衫<i
                        class="material-icons right">close</i></span>
                <p>很好，不过你应该需要女士的</p>
                <p>25￥,alpha&gt;-4</p>
                <p>当你没有穿着下身衣物时，将体位转换为站姿；根据穿着方式slut+0～1</p>
                <p>BUFF代码U0</p>
                <a href="#" onclick="itemadd('U0')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/P1.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">平角内裤<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('P1')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">平角内裤<i
                        class="material-icons right">close</i></span>
                <p>好吧，你总得从什么地方开始尝试</p>
                <p>10￥,sissy&gt;10</p>
                <p>你的肉棒可以从内裤里面伸出多长，就可以为你的性具增加同样的长度</p>
                <p>BUFF代码P1</p>
                <a href="#" onclick="itemadd('P1')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/S1.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">中筒袜<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('S1')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">中筒袜<i
                        class="material-icons right">close</i></span>
                <p>学生妹风格，我喜欢你这种发展</p>
                <p>10￥,sissy&gt;10</p>
                <p>肛交时长延长5min</p>
                <p>BUFF代码S1</p>
                <a href="#" onclick="itemadd('S1')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/D1.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">热裤<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('D1')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">热裤<i
                        class="material-icons right">close</i></span>
                <p>你肯定会有很高的回头率的</p>
                <p>10￥,alpha &lt; 0</p>
                <p>肛交BPM+15,口交时必须尝试深喉</p>
                <p>BUFF代码D1</p>
                <a href="#" onclick="itemadd('D1')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/U1.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">T恤<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('U1')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">T恤<i
                        class="material-icons right">close</i></span>
                <p>嘿，他们贩卖上面写着“母狗”字样的款式诶</p>
                <p>15￥</p>
                <p>女款sissy+1男款alpha+1</p>
                <p>BUFF代码U1</p>
                <a href="#" onclick="itemadd('U1')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/P2.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">三角胖次<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('P2')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">三角胖次<i
                        class="material-icons right">close</i></span>
                <p>胖次永远不会嫌多</p>
                <p>15￥,sissy &gt; 30</p>
                <p>根据款式sissy+1～3</p>
                <p>BUFF代码P2</p>
                <a href="#" onclick="itemadd('P2')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/S2.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">裤袜<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('S2')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">裤袜<i
                        class="material-icons right">close</i></span>
                <p>你知道你这样穿没办法隐藏起你穿了丝袜的事实对吧</p>
                <p>15￥</p>
                <p>强奸时，BPM+30，插入到底；物品移除时slut+3</p>
                <p>BUFF代码S2</p>
                <a href="#" onclick="itemadd('S2')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/D2.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">长裙<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('D2')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">长裙<i
                        class="material-icons right">close</i></span>
                <p>真可惜他们没有更短的款式</p>
                <p>25￥sissy &gt; 10 slut &gt; 10</p>
                <p>sissy+3,slut+1,alpha-1</p>
                <p>BUFF代码D2</p>
                <a href="#" onclick="itemadd('D2')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/U2.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">连帽衫<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('U2')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">连帽衫<i
                        class="material-icons right">close</i></span>
                <p>这个帽子或许能派上用场</p>
                <p>25￥sissy &gt; 10 slut &gt; 10</p>
                <p>口交后要戴着口罩和深喉口塞出门10分钟,根据款式alpha+2/sissy+1</p>
                <p>BUFF代码U2</p>
                <a href="#" onclick="itemadd('U2')">购买</a>
            </div>
        </div>
    </div>

</div>

























<!--玩具道具-->
<div class="row">
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/DI0.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">小号假阳具<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('DI0')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">小号假阳具<i
                        class="material-icons right">close</i></span>
                <p>好吧，你总得从什么地方开始尝试</p>
                <p>sissy+1</p>
                <p>BUFF代码DI0</p>
                <a href="#" onclick="itemadd('DI0')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/DI1.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">中号假阳具<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('DI1')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">中号假阳具<i
                        class="material-icons right">close</i></span>
                <p>女孩子忠实的朋友，从不让你失望</p>
                <p>sissy &gt; 10 slut &gt; 10 </p>
                <p>sissy+2,slut+2，肛交、口交时阳具直径+1长度+2</p>
                <p>BUFF代码DI1</p>
                <a href="#" onclick="itemadd('DI1')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/GS0.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">小号肛塞<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('GS0')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">小号肛塞<i
                        class="material-icons right">close</i></span>
                <p>很快你就没法夹紧它了</p>
                <p>slut+1，肛交BPM最低将为90</p>
                <p>BUFF代码GS0</p>
                <a href="#" onclick="itemadd('GS0')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/GS1.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">中号肛塞<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('GS1')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">中号肛塞<i
                        class="material-icons right">close</i></span>
                <p>随时准备好，这是我的座右铭</p>
                <p>slut &gt; 10 </p>
                <p>slut+2，肛交BPM最低将为120</p>
                <p>BUFF代码GS1</p>
                <a href="#" onclick="itemadd('GS1')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/LZ0.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">小号拉珠<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('LZ0')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">小号拉珠<i
                        class="material-icons right">close</i></span>
                <p>这玩意挺有趣的，但假阳具明显更好</p>
                <p>sissy+1，最大直径3CM</p>
                <p>BUFF代码LZ0</p>
                <a href="#" onclick="itemadd('LZ0')">购买</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./img/ZCS.jpg">
            </div>
            <div class="card-content"><span class="card-title activator
                    grey-text text-darken-4" data-mewtran="test_major">贞操锁<i class="material-icons
                        right">more_vert</i></span><a>
                    <h6 href="#" onclick="itemadd('ZCS')">购买</h6>
                </a></div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4" data-mewtran="test_major">贞操锁<i
                        class="material-icons right">close</i></span>
                <p>这叫阴蒂，肉棒不会被锁起来</p>
                <p>sissy+5，alpha-1</p>
                <p>BUFF代码ZCS</p>
                <a href="#" onclick="itemadd('ZCS')">购买</a>
            </div>
        </div>
    </div>

    
</div>