<!--文字卡片模板-->
<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">滑稽信息</span>
            <p>这是页面1,但喵还没做完</p>
        </div>
        <div class="card-action"><a href="#">假装这里有个按钮</a></div>
    </div>
</div>
<!--通知卡片模板-->
<div class="col s12 m6 l4">
    <div class="card-panel hoverable teal">
        <span class="white-text">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. I am similar to what is called a panel
            in other frameworks.
        </span>
    </div>
</div>
<!--图片卡片模板-->
<div class="col s12 m6 l4">
    <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./img/noimg.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">RBQ<i
                    class="material-icons right">more_vert</i></span>
            <p><a href="#" onclick="clsadd('CLS_000')">加入到我的课程计划中</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">测试课程<i class="material-icons right">close</i></span>
            <p>本课程用于展示效果</p>
            <p>课程代码000</p>
        </div>
    </div>
</div>

<!--标签页卡片模板-->
<div class="card blue">
    <div class="card-content white-text">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
            little markup to use effectively.</p>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width tabs-transparent tatatabs">
            <li class="tab"><a href="#test1">Test 1</a></li>
            <li class="tab"><a class="active" href="#test2">Test 2</a></li>
            <li class="tab"><a href="#test3">Test 3</a></li>
        </ul>
    </div>
    <div class="card-content blue lighten-5">
        <div id="test1" style="display: none;">Test 1</div>
        <div id="test2" class="active">Test 2</div>
        <div id="test3" style="display: none;">Test 3</div>
    </div>
</div>
<!-- 拟态框触发器 -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!--拟态框（按钮不动）-->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<!--没做完提醒-->
<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">滑稽信息</span>
            <p>这是页面1,但喵还没做完</p>
        </div>
        <div class="card-action">
            <a href="https://gitlab.com/acted/h2">来看看源代码</a>
            <a href="https://afdian.net/@acted">爱发电支持下！</a>
            <a href="https://t.me/joinchat/MUKY6Ej2AvLJEG2JigyE8A">telegram开发群</a>
        </div>
    </div>
</div>

<!--节拍器-->
<iframe src="bpm.html" frameborder="0" seamless></iframe>

<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">版权信息</span>
            <p>本系统内图片及创意来源自抖喵的网站</p>
            <p>本系统以AGPL3.0开放源代码</p>
            <p>制作者：Acted喵呜！</p>
            <p>定制版本：社区滚动更新版</p>
        </div>
        <div class="card-action">
            <a href="https://gitlab.com/acted/h2">源代码</a>
            <a href="https://afdian.net/@acted">爱发电支持下！</a>
        </div>
    </div>
</div>


<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">商店</span>
            <p>下方显示的是你当前拥有的物品</p>
            <p>你可在此购买更多商品</p>
        </div>
        <div class="card-action"><a href="#" onclick="modal(\'shop_clothes\')">进入商店</a></div>
    </div>
</div>





<a href="#!" class="waves-effect waves-green btn-flat" onclick="random()">使用骰子</a>
<p>[可选择投掷骰子]<br></p>

<p>设置内容将实时生效，主程序版本Ver2.6.4.5，数据版本Data8.12</p>
<br>
<br>
<div class="switch">
    <label style="color: black">
        禁用关卡背景图片模糊特效
        <input type="checkbox" id="setting-pic" onchange="SettingSet('setting-pic',this.checked)">
        <span class="lever"></span>
    </label>
</div>
<div class="switch">
    <label style="color: black">
        禁用倒计时系统
        <input type="checkbox" id="setting-notime" onchange="SettingSet('setting-notime',this.checked)">
        <span class="lever"></span>
    </label>
</div>
<button class="modal-close waves-effect waves-green btn-flat" onclick="clean()">清除全部信息</button>
<button class="modal-close waves-effect waves-green btn-flat\" onclick='meowout()'>导出数据</button>
<button class="modal-close waves-effect waves-green btn-flat\" onclick='modal("meowin")'>导入数据</button>

<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">第三章关卡选择</span>
            <p>第三章进入派对后就可以自由的选择关卡啦！</p>
        </div>
        <div class="card-action">
            <a href="#" onclick="modal(\'U2\')">查看列表</a>
        </div>
    </div>
</div>

<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-content"><span class="card-title">客厅</span>
            <p>哇，好大的客厅！</p>
        </div>
        <div class="card-action">
            <a href="#" onclick="clsup(\'house/living\')">查看列表</a>
        </div>
    </div>
</div>